nav ul li {
  text-align: center;
  font: initial;
  display: inline;
  margin-inline-start: 10px;
  color: black;
  

}
nav ul li a {
  border-style: groove;
  border-color: black;
  font: bold;
  color: black;

  
}
main img {

  border-radius: 50%;
  max-width: 40%;

}
body {

  background-image: linear-gradient(to bottom right,black,grey);

}
main h2 a {

  color: black;


}
